{{ define "main" }} {{.Content}}
<div class="flex">
  {{ range .Site.Taxonomies.categories.homepage }}
  <a href="{{.RelPermalink}}" class="ma3">
    <article class="mw5 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
      <div class="tc">
        <h1 class="f4 black-90">{{ .Page.LinkTitle }}</h1>
        <!-- <hr class="mw3 bb bw1 b--black-10" /> -->
      </div>
      <!-- <p class="lh-copy measure center f6 black-70">{{ .Page.Summary }}</p> -->
    </article>
  </a>

  {{ end }}
</div>
{{ end }}
