@tailwind base;
@tailwind components;
@tailwind utilities;

/* safelist: ['bg-yellow-100', 'text-indigo-800', 'bg-indigo-900', 'bg-red-500', 'text-white'], */
div {
  counter-reset: paragraph;
}
.translation-paragraphs > p:before {
    @apply text-gray-300;
    position: absolute;
    margin-left: -20px;

    content: counter(paragraph);
    counter-increment: paragraph;
}

.pattern-1 {
  @apply bg-yellow-100 text-indigo-900;
  background-size: 50px 50px;
  background-image: repeating-linear-gradient(90deg, currentColor 0, transparent 1px, currentColor 0, currentColor 50%);
}

.pattern-2 {
  @apply bg-white text-pink-400;
  background-size: 50px 50px;
  background-image: repeating-linear-gradient(90deg, currentColor 0, transparent 1px, currentColor 0, currentColor 50%);
}

.pattern-3 {
  @apply bg-red-100 text-amber-900;
  background-size: 100px 100px;
  background-image: repeating-linear-gradient(45deg, currentColor 0, transparent 1px, currentColor 0, currentColor 50%);
}

.pattern-4 {
  @apply bg-white text-indigo-50;
  background-size: 50px 50px;
  background-image: repeating-linear-gradient(90deg, currentColor 0, transparent 1px, currentColor 0, currentColor 50%);
}

.pattern-5 {
  @apply text-slate-50 bg-gray-300;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(0deg, currentColor 0, transparent 1px, currentColor 0, currentColor 50%);
}
